<nav class="navbar sticky-top bg-body-tertiary">
    <div class="container-fluid">
      <a th:href="@{/cadastrarFilme}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cadastrar Filme</a>
      <a th:href="@{/listarFilmes}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Listar Filmes</a>
      <a th:href="@{/preferencias}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Preferencias</a>
    </div>
</nav>
