.contains-ratings{
    padding-top: 50px;
}
#ratings{
    body {
        font-family: Arial, sans-serif;
        background-color: #141b29;
        margin: 0;
        padding: 0;
    }
    
    .container {
        width: 80%;
        margin: auto;
        padding: 50px;
    }
    
    /* Estilos dos cards de avaliação */
    .review-card {
        position: relative;
        background-color: #2a2d3e;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
        color: #b3b3b3;
        margin-top: 50px;
    }
    
    /* Pontinha no estilo WhatsApp */
    .review-card::before {
        content: '';
        position: absolute;
        top: 100px; /* Ajuste para alinhar com a altura do card */
        right: -13px; /* Ajuste a posição da pontinha */
        width: 0;
        height: 0;
        border-left: 15px solid #2a2d3e; /* Cor da pontinha igual ao fundo do card */
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    .timestamp {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 12px;
        color: #888;
    }
    
    
    .review-card h3 {
        margin: 0 0 10px;
    }
    
    .review-card p {
        margin: 10px 0;
    }
    
    /* Estilos do formulário de avaliação */
    .review-form {
        background-color: #2a2d3e;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        color: #b3b3b3;
    }
    
    .review-form h2 {
        margin-bottom: 15px;
    }
    
    .review-form textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        resize: none;
    }
    
    .review-form input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .review-form button {
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    /* Estilos das estrelas de avaliação */
    .stars {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    
    .stars button {
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: #ccc;
        cursor: pointer;
    }
    
    .stars button.gold {
        color: gold;
    }
    
    h2,h3{
        color: white;
    }
    
    input,textarea,button{
        background: #3b3e52;
    }
}