<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
    <h1>Detalhes dos filmes</h1>
    <table>
        <thead>
        <th>ID</th>
        <th>Titulo</th>
        <th>Sinopse</th>
        <th>Genero</th>
        <th>Ano lançamento</th>
        </thead>
        <tbody>
        <tr >
            <td th:text="${filme.id}" />
            <td th:text="${filme.titulo}" />
            <td th:text="${filme.sinopse}" />
            <td th:text="${filme.genero}" />
            <td th:text="${filme.anoLancamento}" />
        </tr>
        </tbody>
    </table>

    <div>
        <h2>Análises: </h2>

        <h2>Enviar analise:</h2>
        <form th:action="@{/adicionarAnalise}" method="POST">
            <p>Id: <input type="text" th:field="${analise.id}"></p>
            <p>Filme: <input type="text" th:field="${analise.filme}"></p>
            <p>Analise: <input type="text" th:field="${analise.analise}"></p>
            <p>Nota: <input type="text" th:field="${analise.nota}"></p>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div th:insert="footerNav.html :: footer">
    </div>
</body>
</html>