<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
    <div>

        <h2>Enviar analise:</h2>
        <form th:action="@{/cadastrarAnalise}" method="POST" th:object="${feedback}">
            <input type="text" th:field="${filme.id}" hidden>
            <input type="" th:field="${filme.titulo}" hidden>
            <p>Analise: <input type="text" th:field="${feedback.comment}"></p>
            <p>Nota: <input type="text" th:field="${feedback.nota}"></p>
            <button type="submit">Enviar</button>
        </form>

        <h2>Análises: </h2>

        <table border="2px">
            <thead>
            <td>Comentário</td>
            <td>Nota</td>
            </thead>
            <tr th:each="a : ${analises}" >
                <td th:text="${a.comment}" />
                <td th:text="${a.nota}" />
            </tr>
        </table>
    </div>
    <div th:insert="footerNav.html :: footer">
    </div>
</body>
</html>