<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
    <div>

        <h2>Enviar analise:</h2>
        <form method="POST" th:object="${feedback}" id="formAdicionarAnalise">
            <input type="text" th:field="${filme.id}" hidden id="filmeId">
            <p>Analise: <input type="text" th:field="${feedback.comment}" id="comment"></p>
            <p>Nota: <input type="text" th:field="${feedback.nota}" id="nota"></p>
            <button type="submit">Enviar</button>
        </form>

        <h2>Análises: </h2>

        <table border="2px">
            <thead>
            <td>Comentário</td>
            <td>Nota</td>
            </thead>
            <tr th:each="a : ${analises}" >
                <td th:text="${a.comment}" />
                <td th:text="${a.nota}" />
            </tr>
        </table>
    </div>
    <div th:insert="footerNav.html :: footer">
    </div>
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>