<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de filmes</title>
</head>
<body>
  <h1>Lista de Filmes</h1>
    <div>
        <table>
            <thead>
                <th>ID</th>
                <th>Titulo</th>
                <th>Sinopse</th>
                <th>Genero</th>
                <th>Ano lançamento</th>
            </thead>
            <tbody>
                <tr th:each="filme: ${filmes}">
                    <td th:text="${filme.id}" />
                    <td th:text="${filme.titulo}" />
                    <td th:text="${filme.sinopse}" />
                    <td th:text="${filme.genero}" />
                    <td th:text="${filme.anoLancamento}" />
                    <td>
                        <a th:href="@{'/exibirAnalise?id='+ ${filme.id}}">Analises</a>
                    </td>
                </tr>
            <tbody/>
        </table>
    </div>
    <div th:insert="footerNav.html :: footer">

    </div>
</body>
</html>