<!doctype html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Footer Example</title>
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <!-- Option 1: Include in HTML -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Manrope:wght@200..800&display=swap"
            rel="stylesheet"
    />
    <!-- Custom Styles -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 th:text="#{about}">About OpenStreamify</h5>
                <ul class="footer-links list-unstyled">
                    <li><a href="#" th:text="#{accessibility}">Accessibility</a></li>
                    <li><a href="#" th:text="#{help}">Help</a></li>
                    <li><a href="#" th:text="#{devices}">Compatible Devices</a></li>
                    <li><a href="#" th:text="#{terms}">Terms of use</a></li>
                    <li><a href="#" th:text="#{privacy}">Privacy Policies</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 th:text="#{content}">Content</h5>
                <ul class="footer-links list-unstyled">
                    <li>
                        <a href="#" th:text="#{originals}">Originals OpenStreamify</a>
                    </li>
                    <li><a href="#" th:text="#{movies}">Movies</a></li>
                    <li><a href="#" th:text="#{series}">Series</a></li>
                    <li><a href="#" th:text="#{documentaries}">Documentaries</a></li>
                    <li><a href="#" th:text="#{children}">For children</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 th:text="#{others}">Other</h5>
                <ul class="footer-links list-unstyled">
                    <li><a href="#" th:text="#{partnerships}">Partnerships</a></li>
                    <li><a href="#" th:text="#{advertising}">Advertising</a></li>
                    <li><a href="#" th:text="#{carrers}">Carrers</a></li>
                    <li><a href="#" th:text="#{investers}">Investers</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 th:text="#{follow}">Follow-us</h5>
                <div class="social-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p th:text="#{rights}">
                &copy; 2024 OpenStreamify. All rights Reserved.
            </p>
        </div>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Icons -->
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
/>
</body>
</html>
