<!doctype html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - OpenStreamify</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="/icons/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">

    <meta
      name="description"
      content="Assista a vídeos de alta qualidade em nosso site de streaming com uma vasta seleção de filmes, séries e documentários."
    />
    <meta
      name="keywords"
      content="streaming, vídeos online, filmes, séries, documentários, alta qualidade, HLS, vídeos on demand"
    />
    <meta name="author" content="ismael221" />

    <meta
      property="og:title"
      content="Site de Streaming - Assista aos Melhores Vídeos"
    />
    <meta
      property="og:description"
      content="Aproveite a melhor experiência em streaming com conteúdo de alta qualidade, disponível em diversas plataformas."
    />
    <meta
      property="og:image"
      content="http://192.168.100.12:8080/images/background.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://192.168.100.12:8080/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <header th:insert="navbar.html :: nav" class="sticky-top"></header>
    <!-- Carousel -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active main-carrousel">
          <img
            th:src="@{/api/v1/media/img/cover1.webp}"
            class="d-block w-100"
            alt="Banner 1"
          />
        </div>
        <div class="carousel-item main-carrousel">
          <img
            th:src="@{/api/v1/media/img/cover2.jpg}"
            class="d-block w-100"
            alt="Banner 2"
          />
        </div>
        <div class="carousel-item main-carrousel">
          <img
            th:src="@{/api/v1/media/img/cover3.jpg}"
            class="d-block w-100"
            alt="Banner 3"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>

    <!-- Movie Section -->
    <div class="container mt-5 recommended-section">
      <h2 class="mb-4" th:text="#{recommend}">Recommended For You</h2>
      <div class="row row-cols-2 row-cols-md-4 g-4">
        <div class="col">
          <div class="recommended-card">
            <img
              src=""
              class="card-img-top"
              alt="Movie 1"
            />
          </div>
        </div>
        <div class="col">
          <div class="recommended-card">
            <img
              src=""
              class="card-img-top"
              alt="Movie 2"
            />
          </div>
        </div>
        <div class="col">
          <div class="recommended-card">
            <img
              src=""
              class="card-img-top"
              alt="Movie 3"
            />
          </div>
        </div>
        <div class="col">
          <div class="recommended-card">
            <img
              src=""
              class="card-img-top"
              alt="Movie 4"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Carrossel de Filmes -->
    <div
      id="slider"
      class="carousel slide slider"
      data-bs-ride="false"
      th:if="${moviesChunks != null and #lists.size(moviesChunks) > 0}"
    >
      <div class="carousel-inner">
        <!-- Itera sobre os chunks de filmes -->
        <div
          th:each="movieChunk, iterStat : ${moviesChunks}"
          class="carousel-item"
          th:classappend="${iterStat.index == 0} ? 'active'"
        >
          <div class="row">
            <!-- Itera sobre os filmes dentro de cada chunk -->
            <div
              class="col"
              th:each="m : ${movieChunk}"
              style="padding: 20px; margin: 10px"
            >
              <a th:href="@{'/details/'+ ${m.rid}}">
                <img
                  th:src="${m.coverImgUrl}"
                  class="d-block w-100"
                  th:alt="${m.title}"
                  style="height: 60vh"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#slider"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#slider"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>

    <footer
      th:insert="footer.html :: footer"
      class="rodape"
      style="margin-top: 150px"
    ></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1.0.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script type="module" th:src="@{/js/notification.js}"></script>
    <script>
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service-worker.js')
              .then(() => console.log("Service Worker registrado!"))
              .catch(err => console.log("Erro ao registrar Service Worker:", err));
      }
    </script>

  </body>
</html>
