<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/png">
    <title>Transmissão Ao Vivo</title>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <style>
        .video-container {
            max-width: 640px;
            margin: auto;
        }
    </style>
</head>
<body>

<div class="video-container">
    <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="264"
            data-setup="{}">
        <source src="http://192.168.100.15:8080/hls/stream.m3u8" type="application/x-mpegURL" />
        Seu navegador não suporta vídeos HLS.
    </video>
</div>

<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

</body>
</html>
