<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple Free HLS Player Example</title>
    <!-- Include hls.js from a CDN -->
    <script src="https://cdn.tutorialjinni.com/hls.js/1.2.1/hls.min.js"></script>
</head>
<body>
<!-- HTML5 Video Tag -->
<video id="video" controls type="application/x-mpegURL" style="width:100%; height:auto;">
</video>
<!-- Play Button -->
<button id="playButton">Play Video</button>

<!-- Invocation Script -->
<script>
    if (Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls();
        var playButton = document.getElementById('playButton');

        // Configure HLS.js
        hls.loadSource('http://localhost:8080/hls/bd29ddf7-b1d6-4597-b7c4-27bb0017f4a9.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function() {
            // Enable the play button only after the manifest is parsed
            playButton.disabled = false;
        });

        // Play video when button is clicked
        playButton.addEventListener('click', function() {
            video.play().catch(function(error) {
                console.error('Play failed:', error);
            });
        });
    } else {
        alert("Cannot stream HLS, use another video source");
    }
</script>
</body>
</html>
